@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');
/*Tamanho da box*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}
header{
  z-index: 10;
  position: fixed;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #1a1a1a;
}

.ativo a{
  color: #1a1a1a;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #52D681;
  height: 8vh;
  padding: 40px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
@media (max-width: 999px) {
  * {
    overflow-x: hidden;
  }
  .nav-list {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 9;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  .ativo a{
    color: #52D681;
  }
}
.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #777;
  background: #fff;
  overflow-x: hidden;
}

h1, h2{
  color: #000;
  font-weight: 400;
  margin: 0 0 20px 0;
  font-size: 40px;
}

h3{
  color: #3a3a3a;
  font-size: 40px;
  text-align: left;
  font-weight: bold;

}

h4{
  color: #616161;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}

.descricao{
  margin: auto;
  max-width: 1200px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #272727;
}

.descricao p{
  color: #969696;
  font-size: 23px;
  text-align: left;
}

.containerproje{
  position: relative;
}

.containerproje .slide-container .slide{
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 9%;
  padding-bottom: 70px;
  max-width: auto;
  margin: 0 auto;
}

.containerproje .slide-container .slide .contentproje{
  flex: 1 1 350px;
  animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
  opacity: 0;
  transform: translateX(-50px);
}
}

.containerproje .slide-container .slide .contentproje h3{
  font-size: 35px;
  color: #52D681;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 5px;

}

.containerproje .slide-container .slide .contentproje p{
  font-size: 16px;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  width: 40%;
  height: 10%;
}

.containerproje .slide-container .slide .contentproje .bntproj{
  margin-top: 10px;
  display: inline-block;
  background: #52D681;
  color: #ffffff;
  font-size: 17px;
  padding: 9px 40px;
  border-radius: 5px;
  border: 2px solid #52D681;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;

}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
  background: #89eeac;
  border: 2px solid #89eeac;
  color: #ffffff;
}

.containerproje .slide-container{
  display: none;
}

.containerproje .slide-container.active{
  display: block;
}

.containerproje .slide-container:nth-child(1) .slide{
  background: url(./imagens/slider_3.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.containerproje .slide-container:nth-child(2) .slide{
  background: url(./imagens/slider_2.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.containerproje .slide-container:nth-child(3) .slide{
  background: url(./imagens/slider_1.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.containerproje #prev, 
.containerproje #next {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  color: #ffffff;
  background: #52D681;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 50px;
}

.containerproje #prev:hover, 
.containerproje #next:hover{
  background: #89eeac;
}
.containerproje #prev{
  left: 20px;
}

.containerproje #next{
  right: 20px;
}



@media(max-width: 500px){
  .containerproje #prev{
      left: 0px;
      top: 60%;
  }

  .containerproje #next{
      right: 0px;
      top: 60%;
  }


  .containerproje .slide-container .slide .contentproje p{
      font-size: 16px;
      color: #ffffff;
      font-family: 'Noto Sans', sans-serif;
      width: 70%;
      height: 10%;

  }
}

.texto{
  margin: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #272727;
}

.texto p{
  color: #969696;
 font-size: 23px;
}

.imagens_carrosel {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  position: relative;
}
.imagens_carrosel i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.imagens_carrosel i:active{
  transform: translateY(-50%) scale(0.85);
}
.imagens_carrosel i:first-child{
  left: -22px;
}
.imagens_carrosel i:last-child{
  right: -22px;
}
.imagens_carrosel .carrosel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carrosel::-webkit-scrollbar {
  display: none;
}
.carrosel.no-transition {
  scroll-behavior: auto;
}
.carrosel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carrosel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carrosel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrosel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carrosel .card .img {
  background: #ffffff;
  height: 148px;
  width: 148px;
}
.card .img img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}
.carrosel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carrosel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .imagens_carrosel .carrosel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .imagens_carrosel .carrosel {
    grid-auto-columns: 100%;
  }
}

.footer{
  background: #262626;
  padding: 5em 0 0 0 !important;
  width: 100%;
  float: left;
  display:block;
}

.rodape{
  max-width: 1200px;
  display: flex;
  height: 250px;
  background-color: #262626;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.rodape ul{
  width: 25%;
  margin: 20px;
  margin-right: 80px;


}

.rodape h2{
  margin-bottom: 16px;
  font-size: 26px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.rodape li{
  margin: 5px;

}

.rodape a{
  color: #52D681;
}

.rodape p{
  color:#777;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.rodape a:hover {
  color: #fff;
}

.direitos{
  background-color: #1a1a1a;
  padding: 30px 0;
    float: left;
    width: 100%;
}
.direitos-container{
  max-width: 1200px;
margin: 0 auto;
}

/* Responsivo */
@media (max-width: 800px) {
  .rodape .nome_footer{
      width: 50%;
margin-right: 2px;
  }
}
@media (max-width:600px) {
  .rodape{
      width: 100%;
  }
}
::-webkit-selection {
  color: white;
  background: #52D681;
}

::-moz-selection {
  color: white;
  background: #52D681;
}
::selection {
  color: white;
  background: #52D681;
}